*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
}
.container > div > h2 {
    text-align: center;
    margin-top: 50px;
    color: blue;
}
.nav-player{
    background-color: blue;
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    padding-top: 7px;
    position: fixed;
}
.nav-player > h3{
    text-align: center;
    color: white;
}
.main-player{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.div-player{
    min-height: 100px;
    min-width: 150px;
    background-color: rgb(241, 238, 238);
    box-shadow: 2px 3px 4px gray;
    border-radius: 7px;
    padding: 15px;
}

.div-player > h3{
    font-size: 12px;
    text-align: center;
}
.section-form-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}
.section-form-list > h2{
    margin-bottom: 15px;
    color: blue;
}
.div-from{
    width: 40%;
    background-color:  rgb(241, 238, 238);;
    border-radius: 7px;
    
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 25px;
   
}
.input-select-div{
    width: 100%;
    display: flex;
    
}
#div-select{
    display: flex;
    align-items: center;
    justify-content: center;
}
#select-position{
    margin-right: 38px;
}
.input-select{
    width: 70%;
    margin-top: 5px;
}
span{
    width: 50px;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}
#submit-button{
    border: none;
    background-color: blue;
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 7px;
}
#submit-button:hover{
    background-color: rgb(0, 0, 159);
}
.table-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 95%;
    border-collapse: collapse;
}
.table th {
    height: 45px;
    background-color: red;
    color: white;
    border: 1px solid #d9dbde ;
}


#actions button{
    background-color: blue;
    border: none;
    height: 15px;  
    border-radius: 7px;
    width: 100%;
    min-height: 50px;
}
#actions button:hover{
    background-color: rgb(0, 0, 162);
    
}
.table td{
    border: 2px solid #d9dbde ;
    text-align: center;
    padding: 5px;
}

ul{
    list-style-type: none;
    text-align: center;
}
li{
    margin: 15px;
}
